# Dependencies
node_modules

# Ignore the dist directory
dist

# Ignore app.log file
src/logger/app.log

# Ignore swagger schemas

src/swagger/swagger.yaml
src/swagger/schemas/types.feed.yaml
src/swagger/schemas/types.filter.yaml

# ignore package-lock.json
package-lock.json

# ignore .env file
src/prisma/.env
